Sistema/WindowsFormsApp3/Web References/localhost/Login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoginSistema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginSistemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginSistemaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroFornecedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Complemento2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefone2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroFornecedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroFornecedorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funcao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DataCriacao" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroPermissoesUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroPermissoesUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroPermissoesUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroProduto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodigoProduto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Preco" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="UnidadeMedida" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroProdutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroProdutoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroProdutoEstoque">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdProduto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroProdutoEstoqueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroProdutoEstoqueResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaSetor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaSetorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaSetorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaProduto">
        <s:complexType />
      </s:element>
      <s:element name="RetornaProdutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaProduto" nillable="true" type="tns:ListaProduto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaProduto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PRODUTO" type="tns:Produto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Produto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo_Produto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome_Produto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UM_Produto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Preco_Produto" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaFornecedor">
        <s:complexType />
      </s:element>
      <s:element name="RetornaFornecedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaFornecedor" nillable="true" type="tns:ListaFornecedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaFornecedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FORNECEDOR" type="tns:Fornecedor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Fornecedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaEstoque">
        <s:complexType />
      </s:element>
      <s:element name="RetornaEstoqueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaEstoque" nillable="true" type="tns:ListaEstoque" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaEstoque">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ESTOQUE" type="tns:Estoque" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Estoque">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoProduto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="UM" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaUsuario">
        <s:complexType />
      </s:element>
      <s:element name="RetornaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaUsuario" nillable="true" type="tns:ListaUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="USUARIO" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Funcao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataCriacao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornarSolicitacao">
        <s:complexType />
      </s:element>
      <s:element name="RetornarSolicitacaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaSolicitacao" nillable="true" type="tns:ListaSolicitacao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaSolicitacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SOLICITACAO" type="tns:Solicitacao" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Solicitacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Solicitante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Urgencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Motivo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataCriacao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GerarPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Urgencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Motivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarPedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GerarPedidoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarPedidoItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="UnidadeMedida" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Solicitar" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarPedidoItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GerarPedidoItemResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSistemaSoapIn">
    <wsdl:part name="parameters" element="tns:LoginSistema" />
  </wsdl:message>
  <wsdl:message name="LoginSistemaSoapOut">
    <wsdl:part name="parameters" element="tns:LoginSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroFornecedorSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroFornecedor" />
  </wsdl:message>
  <wsdl:message name="CadastroFornecedorSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroUsuario" />
  </wsdl:message>
  <wsdl:message name="CadastroUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroPermissoesUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroPermissoesUsuario" />
  </wsdl:message>
  <wsdl:message name="CadastroPermissoesUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroPermissoesUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroProdutoSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroProduto" />
  </wsdl:message>
  <wsdl:message name="CadastroProdutoSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroProdutoEstoqueSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroProdutoEstoque" />
  </wsdl:message>
  <wsdl:message name="CadastroProdutoEstoqueSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroProdutoEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaSetorSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaSetor" />
  </wsdl:message>
  <wsdl:message name="RetornaSetorSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaSetorResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaProdutoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaProduto" />
  </wsdl:message>
  <wsdl:message name="RetornaProdutoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaFornecedorSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaFornecedor" />
  </wsdl:message>
  <wsdl:message name="RetornaFornecedorSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaEstoqueSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaEstoque" />
  </wsdl:message>
  <wsdl:message name="RetornaEstoqueSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaUsuario" />
  </wsdl:message>
  <wsdl:message name="RetornaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarSolicitacaoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarSolicitacao" />
  </wsdl:message>
  <wsdl:message name="RetornarSolicitacaoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarSolicitacaoResponse" />
  </wsdl:message>
  <wsdl:message name="GerarPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:GerarPedido" />
  </wsdl:message>
  <wsdl:message name="GerarPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:GerarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="GerarPedidoItemSoapIn">
    <wsdl:part name="parameters" element="tns:GerarPedidoItem" />
  </wsdl:message>
  <wsdl:message name="GerarPedidoItemSoapOut">
    <wsdl:part name="parameters" element="tns:GerarPedidoItemResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginSoap">
    <wsdl:operation name="LoginSistema">
      <wsdl:input message="tns:LoginSistemaSoapIn" />
      <wsdl:output message="tns:LoginSistemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroFornecedor">
      <wsdl:input message="tns:CadastroFornecedorSoapIn" />
      <wsdl:output message="tns:CadastroFornecedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroUsuario">
      <wsdl:input message="tns:CadastroUsuarioSoapIn" />
      <wsdl:output message="tns:CadastroUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroPermissoesUsuario">
      <wsdl:input message="tns:CadastroPermissoesUsuarioSoapIn" />
      <wsdl:output message="tns:CadastroPermissoesUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroProduto">
      <wsdl:input message="tns:CadastroProdutoSoapIn" />
      <wsdl:output message="tns:CadastroProdutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroProdutoEstoque">
      <wsdl:input message="tns:CadastroProdutoEstoqueSoapIn" />
      <wsdl:output message="tns:CadastroProdutoEstoqueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaSetor">
      <wsdl:input message="tns:RetornaSetorSoapIn" />
      <wsdl:output message="tns:RetornaSetorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaProduto">
      <wsdl:input message="tns:RetornaProdutoSoapIn" />
      <wsdl:output message="tns:RetornaProdutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaFornecedor">
      <wsdl:input message="tns:RetornaFornecedorSoapIn" />
      <wsdl:output message="tns:RetornaFornecedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaEstoque">
      <wsdl:input message="tns:RetornaEstoqueSoapIn" />
      <wsdl:output message="tns:RetornaEstoqueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaUsuario">
      <wsdl:input message="tns:RetornaUsuarioSoapIn" />
      <wsdl:output message="tns:RetornaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarSolicitacao">
      <wsdl:input message="tns:RetornarSolicitacaoSoapIn" />
      <wsdl:output message="tns:RetornarSolicitacaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GerarPedido">
      <wsdl:input message="tns:GerarPedidoSoapIn" />
      <wsdl:output message="tns:GerarPedidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GerarPedidoItem">
      <wsdl:input message="tns:GerarPedidoItemSoapIn" />
      <wsdl:output message="tns:GerarPedidoItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginSoap" type="tns:LoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginSistema">
      <soap:operation soapAction="http://tempuri.org/LoginSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroFornecedor">
      <soap:operation soapAction="http://tempuri.org/CadastroFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroUsuario">
      <soap:operation soapAction="http://tempuri.org/CadastroUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroPermissoesUsuario">
      <soap:operation soapAction="http://tempuri.org/CadastroPermissoesUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroProduto">
      <soap:operation soapAction="http://tempuri.org/CadastroProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroProdutoEstoque">
      <soap:operation soapAction="http://tempuri.org/CadastroProdutoEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaSetor">
      <soap:operation soapAction="http://tempuri.org/RetornaSetor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaProduto">
      <soap:operation soapAction="http://tempuri.org/RetornaProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaFornecedor">
      <soap:operation soapAction="http://tempuri.org/RetornaFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaEstoque">
      <soap:operation soapAction="http://tempuri.org/RetornaEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaUsuario">
      <soap:operation soapAction="http://tempuri.org/RetornaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarSolicitacao">
      <soap:operation soapAction="http://tempuri.org/RetornarSolicitacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarPedido">
      <soap:operation soapAction="http://tempuri.org/GerarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarPedidoItem">
      <soap:operation soapAction="http://tempuri.org/GerarPedidoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginSoap12" type="tns:LoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginSistema">
      <soap12:operation soapAction="http://tempuri.org/LoginSistema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroFornecedor">
      <soap12:operation soapAction="http://tempuri.org/CadastroFornecedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroUsuario">
      <soap12:operation soapAction="http://tempuri.org/CadastroUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroPermissoesUsuario">
      <soap12:operation soapAction="http://tempuri.org/CadastroPermissoesUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroProduto">
      <soap12:operation soapAction="http://tempuri.org/CadastroProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroProdutoEstoque">
      <soap12:operation soapAction="http://tempuri.org/CadastroProdutoEstoque" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaSetor">
      <soap12:operation soapAction="http://tempuri.org/RetornaSetor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaProduto">
      <soap12:operation soapAction="http://tempuri.org/RetornaProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaFornecedor">
      <soap12:operation soapAction="http://tempuri.org/RetornaFornecedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaEstoque">
      <soap12:operation soapAction="http://tempuri.org/RetornaEstoque" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaUsuario">
      <soap12:operation soapAction="http://tempuri.org/RetornaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarSolicitacao">
      <soap12:operation soapAction="http://tempuri.org/RetornarSolicitacao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarPedido">
      <soap12:operation soapAction="http://tempuri.org/GerarPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarPedidoItem">
      <soap12:operation soapAction="http://tempuri.org/GerarPedidoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="LoginSoap" binding="tns:LoginSoap">
      <soap:address location="http://localhost:63452/Web%20Service/Login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginSoap12" binding="tns:LoginSoap12">
      <soap12:address location="http://localhost:63452/Web%20Service/Login.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>