Sistema/WindowsFormsApp3/Web References/localhost/Login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoginSistema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginSistemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginSistemaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroFornecedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Complemento2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefone2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroFornecedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroFornecedorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DataCriacao" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoConta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroProduto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodigoProduto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Preco" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="UnidadeMedida" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroProdutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroProdutoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSistemaSoapIn">
    <wsdl:part name="parameters" element="tns:LoginSistema" />
  </wsdl:message>
  <wsdl:message name="LoginSistemaSoapOut">
    <wsdl:part name="parameters" element="tns:LoginSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroFornecedorSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroFornecedor" />
  </wsdl:message>
  <wsdl:message name="CadastroFornecedorSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroUsuario" />
  </wsdl:message>
  <wsdl:message name="CadastroUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroProdutoSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroProduto" />
  </wsdl:message>
  <wsdl:message name="CadastroProdutoSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroProdutoResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginSoap">
    <wsdl:operation name="LoginSistema">
      <wsdl:input message="tns:LoginSistemaSoapIn" />
      <wsdl:output message="tns:LoginSistemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroFornecedor">
      <wsdl:input message="tns:CadastroFornecedorSoapIn" />
      <wsdl:output message="tns:CadastroFornecedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroUsuario">
      <wsdl:input message="tns:CadastroUsuarioSoapIn" />
      <wsdl:output message="tns:CadastroUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroProduto">
      <wsdl:input message="tns:CadastroProdutoSoapIn" />
      <wsdl:output message="tns:CadastroProdutoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginSoap" type="tns:LoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginSistema">
      <soap:operation soapAction="http://tempuri.org/LoginSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroFornecedor">
      <soap:operation soapAction="http://tempuri.org/CadastroFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroUsuario">
      <soap:operation soapAction="http://tempuri.org/CadastroUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroProduto">
      <soap:operation soapAction="http://tempuri.org/CadastroProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginSoap12" type="tns:LoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginSistema">
      <soap12:operation soapAction="http://tempuri.org/LoginSistema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroFornecedor">
      <soap12:operation soapAction="http://tempuri.org/CadastroFornecedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroUsuario">
      <soap12:operation soapAction="http://tempuri.org/CadastroUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroProduto">
      <soap12:operation soapAction="http://tempuri.org/CadastroProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="LoginSoap" binding="tns:LoginSoap">
      <soap:address location="http://localhost:63452/Web%20Service/Login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginSoap12" binding="tns:LoginSoap12">
      <soap12:address location="http://localhost:63452/Web%20Service/Login.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>