Sistema/WindowsFormsApp3/Web References/localhost/Login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoginSistema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginSistemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginSistemaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroFornecedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Complemento2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefone2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroFornecedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroFornecedorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funcao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DataCriacao" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroPermissoesUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroPermissoesUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroPermissoesUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroProduto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodigoProduto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UnidadeMedida" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroProdutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroProdutoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroProdutoEstoque">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdProduto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroProdutoEstoqueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroProdutoEstoqueResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Urgencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Motivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarPedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GerarPedidoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarPedidoItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="UnidadeMedida" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Solicitar" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarPedidoItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GerarPedidoItemResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravarOrcamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataEmissao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Observacoes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Vendedor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PrazoEntrega" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CondicaoPag" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ValorTotal" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdItens" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravarOrcamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GravarOrcamentoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Atualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AtualizarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizarGerar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizarGerarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AtualizarGerarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Aprovar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AprovarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AprovarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reprovar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReprovarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReprovarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Arquivar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArquivarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ArquivarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaSetor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaSetorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaSetorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaVendedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdVendedor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaVendedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaVendedorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaProduto">
        <s:complexType />
      </s:element>
      <s:element name="RetornaProdutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaProduto" nillable="true" type="tns:ListaProduto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaProduto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PRODUTO" type="tns:Produto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Produto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo_Produto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome_Produto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UM_Produto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Preco_Produto" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaOrcamento">
        <s:complexType />
      </s:element>
      <s:element name="RetornaOrcamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaOrcamentos" nillable="true" type="tns:ListaOrcamento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaOrcamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ORCAMENTO" type="tns:Orcamento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Orcamento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Pedido" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataEmissao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Observacoes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vendedor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrazoEntrega" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CondicaoPag" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorTotal" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdItens" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaSolicitacaoDeCompra">
        <s:complexType />
      </s:element>
      <s:element name="RetornaSolicitacaoDeCompraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaSolicitacoes" nillable="true" type="tns:ListaSolicitacoes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaSolicitacoes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SOLICITACOES" type="tns:Solicitacoes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Solicitacoes">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Solicitante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Urgencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataCriacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaFornecedor">
        <s:complexType />
      </s:element>
      <s:element name="RetornaFornecedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaFornecedor" nillable="true" type="tns:ListaFornecedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaFornecedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FORNECEDOR" type="tns:Fornecedor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Fornecedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaDadosOrcamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaDadosOrcamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaOrcamentoDados" nillable="true" type="tns:ListaOrcamentoDados" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaOrcamentoDados">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ORCAMENTODADOS" type="tns:OrcamentoDados" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrcamentoDados">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnidadeMedida" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Solicitar" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaEstoque">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaEstoqueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaEstoque" nillable="true" type="tns:ListaEstoque" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaEstoque">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ESTOQUE" type="tns:Estoque" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Estoque">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoProduto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="UM" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaUsuario">
        <s:complexType />
      </s:element>
      <s:element name="RetornaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaUsuario" nillable="true" type="tns:ListaUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="USUARIO" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Funcao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataCriacao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornarSolicitacao">
        <s:complexType />
      </s:element>
      <s:element name="RetornarSolicitacaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaSolicitacao" nillable="true" type="tns:ListaSolicitacao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaSolicitacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SOLICITACAO" type="tns:Solicitacao" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Solicitacao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Solicitante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Urgencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Motivo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataCriacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaComboFornecedor">
        <s:complexType />
      </s:element>
      <s:element name="RetornaComboFornecedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaComboFornecedor" nillable="true" type="tns:ListaFornecedorCombo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaFornecedorCombo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FORNECEDOR" type="tns:FornecedorCombo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FornecedorCombo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaComboTipo">
        <s:complexType />
      </s:element>
      <s:element name="RetornaComboTipoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaComboTipo" nillable="true" type="tns:ListaTipoCombo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaTipoCombo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TIPO" type="tns:TipoCombo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoCombo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaSolicitacaoItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaSolicitacaoItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaSolicitacaoItem" nillable="true" type="tns:ListaSolicitacaoItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaSolicitacaoItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ITEMSOLICITACAO" type="tns:SolicitacaoItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SolicitacaoItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnidadeMedida" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Solicitar" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSistemaSoapIn">
    <wsdl:part name="parameters" element="tns:LoginSistema" />
  </wsdl:message>
  <wsdl:message name="LoginSistemaSoapOut">
    <wsdl:part name="parameters" element="tns:LoginSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroFornecedorSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroFornecedor" />
  </wsdl:message>
  <wsdl:message name="CadastroFornecedorSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroUsuario" />
  </wsdl:message>
  <wsdl:message name="CadastroUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroPermissoesUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroPermissoesUsuario" />
  </wsdl:message>
  <wsdl:message name="CadastroPermissoesUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroPermissoesUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroProdutoSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroProduto" />
  </wsdl:message>
  <wsdl:message name="CadastroProdutoSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroProdutoEstoqueSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroProdutoEstoque" />
  </wsdl:message>
  <wsdl:message name="CadastroProdutoEstoqueSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroProdutoEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="GerarPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:GerarPedido" />
  </wsdl:message>
  <wsdl:message name="GerarPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:GerarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="GerarPedidoItemSoapIn">
    <wsdl:part name="parameters" element="tns:GerarPedidoItem" />
  </wsdl:message>
  <wsdl:message name="GerarPedidoItemSoapOut">
    <wsdl:part name="parameters" element="tns:GerarPedidoItemResponse" />
  </wsdl:message>
  <wsdl:message name="GravarOrcamentoSoapIn">
    <wsdl:part name="parameters" element="tns:GravarOrcamento" />
  </wsdl:message>
  <wsdl:message name="GravarOrcamentoSoapOut">
    <wsdl:part name="parameters" element="tns:GravarOrcamentoResponse" />
  </wsdl:message>
  <wsdl:message name="AtualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Atualizar" />
  </wsdl:message>
  <wsdl:message name="AtualizarSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizarResponse" />
  </wsdl:message>
  <wsdl:message name="AtualizarGerarSoapIn">
    <wsdl:part name="parameters" element="tns:AtualizarGerar" />
  </wsdl:message>
  <wsdl:message name="AtualizarGerarSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizarGerarResponse" />
  </wsdl:message>
  <wsdl:message name="AprovarSoapIn">
    <wsdl:part name="parameters" element="tns:Aprovar" />
  </wsdl:message>
  <wsdl:message name="AprovarSoapOut">
    <wsdl:part name="parameters" element="tns:AprovarResponse" />
  </wsdl:message>
  <wsdl:message name="ReprovarSoapIn">
    <wsdl:part name="parameters" element="tns:Reprovar" />
  </wsdl:message>
  <wsdl:message name="ReprovarSoapOut">
    <wsdl:part name="parameters" element="tns:ReprovarResponse" />
  </wsdl:message>
  <wsdl:message name="ArquivarSoapIn">
    <wsdl:part name="parameters" element="tns:Arquivar" />
  </wsdl:message>
  <wsdl:message name="ArquivarSoapOut">
    <wsdl:part name="parameters" element="tns:ArquivarResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaSetorSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaSetor" />
  </wsdl:message>
  <wsdl:message name="RetornaSetorSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaSetorResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaVendedorSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaVendedor" />
  </wsdl:message>
  <wsdl:message name="RetornaVendedorSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaVendedorResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaProdutoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaProduto" />
  </wsdl:message>
  <wsdl:message name="RetornaProdutoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaOrcamentoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaOrcamento" />
  </wsdl:message>
  <wsdl:message name="RetornaOrcamentoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaOrcamentoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaSolicitacaoDeCompraSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaSolicitacaoDeCompra" />
  </wsdl:message>
  <wsdl:message name="RetornaSolicitacaoDeCompraSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaSolicitacaoDeCompraResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaFornecedorSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaFornecedor" />
  </wsdl:message>
  <wsdl:message name="RetornaFornecedorSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaDadosOrcamentoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaDadosOrcamento" />
  </wsdl:message>
  <wsdl:message name="RetornaDadosOrcamentoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaDadosOrcamentoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaEstoqueSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaEstoque" />
  </wsdl:message>
  <wsdl:message name="RetornaEstoqueSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaUsuario" />
  </wsdl:message>
  <wsdl:message name="RetornaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarSolicitacaoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarSolicitacao" />
  </wsdl:message>
  <wsdl:message name="RetornarSolicitacaoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarSolicitacaoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaComboFornecedorSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaComboFornecedor" />
  </wsdl:message>
  <wsdl:message name="RetornaComboFornecedorSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaComboFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaComboTipoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaComboTipo" />
  </wsdl:message>
  <wsdl:message name="RetornaComboTipoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaComboTipoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaSolicitacaoItemSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaSolicitacaoItem" />
  </wsdl:message>
  <wsdl:message name="RetornaSolicitacaoItemSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaSolicitacaoItemResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginSoap">
    <wsdl:operation name="LoginSistema">
      <wsdl:input message="tns:LoginSistemaSoapIn" />
      <wsdl:output message="tns:LoginSistemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroFornecedor">
      <wsdl:input message="tns:CadastroFornecedorSoapIn" />
      <wsdl:output message="tns:CadastroFornecedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroUsuario">
      <wsdl:input message="tns:CadastroUsuarioSoapIn" />
      <wsdl:output message="tns:CadastroUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroPermissoesUsuario">
      <wsdl:input message="tns:CadastroPermissoesUsuarioSoapIn" />
      <wsdl:output message="tns:CadastroPermissoesUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroProduto">
      <wsdl:input message="tns:CadastroProdutoSoapIn" />
      <wsdl:output message="tns:CadastroProdutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroProdutoEstoque">
      <wsdl:input message="tns:CadastroProdutoEstoqueSoapIn" />
      <wsdl:output message="tns:CadastroProdutoEstoqueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GerarPedido">
      <wsdl:input message="tns:GerarPedidoSoapIn" />
      <wsdl:output message="tns:GerarPedidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GerarPedidoItem">
      <wsdl:input message="tns:GerarPedidoItemSoapIn" />
      <wsdl:output message="tns:GerarPedidoItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GravarOrcamento">
      <wsdl:input message="tns:GravarOrcamentoSoapIn" />
      <wsdl:output message="tns:GravarOrcamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Atualizar">
      <wsdl:input message="tns:AtualizarSoapIn" />
      <wsdl:output message="tns:AtualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarGerar">
      <wsdl:input message="tns:AtualizarGerarSoapIn" />
      <wsdl:output message="tns:AtualizarGerarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Aprovar">
      <wsdl:input message="tns:AprovarSoapIn" />
      <wsdl:output message="tns:AprovarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reprovar">
      <wsdl:input message="tns:ReprovarSoapIn" />
      <wsdl:output message="tns:ReprovarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Arquivar">
      <wsdl:input message="tns:ArquivarSoapIn" />
      <wsdl:output message="tns:ArquivarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaSetor">
      <wsdl:input message="tns:RetornaSetorSoapIn" />
      <wsdl:output message="tns:RetornaSetorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaVendedor">
      <wsdl:input message="tns:RetornaVendedorSoapIn" />
      <wsdl:output message="tns:RetornaVendedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaProduto">
      <wsdl:input message="tns:RetornaProdutoSoapIn" />
      <wsdl:output message="tns:RetornaProdutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaOrcamento">
      <wsdl:input message="tns:RetornaOrcamentoSoapIn" />
      <wsdl:output message="tns:RetornaOrcamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaSolicitacaoDeCompra">
      <wsdl:input message="tns:RetornaSolicitacaoDeCompraSoapIn" />
      <wsdl:output message="tns:RetornaSolicitacaoDeCompraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaFornecedor">
      <wsdl:input message="tns:RetornaFornecedorSoapIn" />
      <wsdl:output message="tns:RetornaFornecedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaDadosOrcamento">
      <wsdl:input message="tns:RetornaDadosOrcamentoSoapIn" />
      <wsdl:output message="tns:RetornaDadosOrcamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaEstoque">
      <wsdl:input message="tns:RetornaEstoqueSoapIn" />
      <wsdl:output message="tns:RetornaEstoqueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaUsuario">
      <wsdl:input message="tns:RetornaUsuarioSoapIn" />
      <wsdl:output message="tns:RetornaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarSolicitacao">
      <wsdl:input message="tns:RetornarSolicitacaoSoapIn" />
      <wsdl:output message="tns:RetornarSolicitacaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaComboFornecedor">
      <wsdl:input message="tns:RetornaComboFornecedorSoapIn" />
      <wsdl:output message="tns:RetornaComboFornecedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaComboTipo">
      <wsdl:input message="tns:RetornaComboTipoSoapIn" />
      <wsdl:output message="tns:RetornaComboTipoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaSolicitacaoItem">
      <wsdl:input message="tns:RetornaSolicitacaoItemSoapIn" />
      <wsdl:output message="tns:RetornaSolicitacaoItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoginSoap" type="tns:LoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginSistema">
      <soap:operation soapAction="http://tempuri.org/LoginSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroFornecedor">
      <soap:operation soapAction="http://tempuri.org/CadastroFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroUsuario">
      <soap:operation soapAction="http://tempuri.org/CadastroUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroPermissoesUsuario">
      <soap:operation soapAction="http://tempuri.org/CadastroPermissoesUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroProduto">
      <soap:operation soapAction="http://tempuri.org/CadastroProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroProdutoEstoque">
      <soap:operation soapAction="http://tempuri.org/CadastroProdutoEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarPedido">
      <soap:operation soapAction="http://tempuri.org/GerarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarPedidoItem">
      <soap:operation soapAction="http://tempuri.org/GerarPedidoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravarOrcamento">
      <soap:operation soapAction="http://tempuri.org/GravarOrcamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Atualizar">
      <soap:operation soapAction="http://tempuri.org/Atualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarGerar">
      <soap:operation soapAction="http://tempuri.org/AtualizarGerar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Aprovar">
      <soap:operation soapAction="http://tempuri.org/Aprovar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reprovar">
      <soap:operation soapAction="http://tempuri.org/Reprovar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Arquivar">
      <soap:operation soapAction="http://tempuri.org/Arquivar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaSetor">
      <soap:operation soapAction="http://tempuri.org/RetornaSetor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaVendedor">
      <soap:operation soapAction="http://tempuri.org/RetornaVendedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaProduto">
      <soap:operation soapAction="http://tempuri.org/RetornaProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaOrcamento">
      <soap:operation soapAction="http://tempuri.org/RetornaOrcamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaSolicitacaoDeCompra">
      <soap:operation soapAction="http://tempuri.org/RetornaSolicitacaoDeCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaFornecedor">
      <soap:operation soapAction="http://tempuri.org/RetornaFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDadosOrcamento">
      <soap:operation soapAction="http://tempuri.org/RetornaDadosOrcamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaEstoque">
      <soap:operation soapAction="http://tempuri.org/RetornaEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaUsuario">
      <soap:operation soapAction="http://tempuri.org/RetornaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarSolicitacao">
      <soap:operation soapAction="http://tempuri.org/RetornarSolicitacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaComboFornecedor">
      <soap:operation soapAction="http://tempuri.org/RetornaComboFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaComboTipo">
      <soap:operation soapAction="http://tempuri.org/RetornaComboTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaSolicitacaoItem">
      <soap:operation soapAction="http://tempuri.org/RetornaSolicitacaoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoginSoap12" type="tns:LoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginSistema">
      <soap12:operation soapAction="http://tempuri.org/LoginSistema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroFornecedor">
      <soap12:operation soapAction="http://tempuri.org/CadastroFornecedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroUsuario">
      <soap12:operation soapAction="http://tempuri.org/CadastroUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroPermissoesUsuario">
      <soap12:operation soapAction="http://tempuri.org/CadastroPermissoesUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroProduto">
      <soap12:operation soapAction="http://tempuri.org/CadastroProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroProdutoEstoque">
      <soap12:operation soapAction="http://tempuri.org/CadastroProdutoEstoque" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarPedido">
      <soap12:operation soapAction="http://tempuri.org/GerarPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarPedidoItem">
      <soap12:operation soapAction="http://tempuri.org/GerarPedidoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravarOrcamento">
      <soap12:operation soapAction="http://tempuri.org/GravarOrcamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Atualizar">
      <soap12:operation soapAction="http://tempuri.org/Atualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarGerar">
      <soap12:operation soapAction="http://tempuri.org/AtualizarGerar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Aprovar">
      <soap12:operation soapAction="http://tempuri.org/Aprovar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reprovar">
      <soap12:operation soapAction="http://tempuri.org/Reprovar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Arquivar">
      <soap12:operation soapAction="http://tempuri.org/Arquivar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaSetor">
      <soap12:operation soapAction="http://tempuri.org/RetornaSetor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaVendedor">
      <soap12:operation soapAction="http://tempuri.org/RetornaVendedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaProduto">
      <soap12:operation soapAction="http://tempuri.org/RetornaProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaOrcamento">
      <soap12:operation soapAction="http://tempuri.org/RetornaOrcamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaSolicitacaoDeCompra">
      <soap12:operation soapAction="http://tempuri.org/RetornaSolicitacaoDeCompra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaFornecedor">
      <soap12:operation soapAction="http://tempuri.org/RetornaFornecedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDadosOrcamento">
      <soap12:operation soapAction="http://tempuri.org/RetornaDadosOrcamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaEstoque">
      <soap12:operation soapAction="http://tempuri.org/RetornaEstoque" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaUsuario">
      <soap12:operation soapAction="http://tempuri.org/RetornaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarSolicitacao">
      <soap12:operation soapAction="http://tempuri.org/RetornarSolicitacao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaComboFornecedor">
      <soap12:operation soapAction="http://tempuri.org/RetornaComboFornecedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaComboTipo">
      <soap12:operation soapAction="http://tempuri.org/RetornaComboTipo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaSolicitacaoItem">
      <soap12:operation soapAction="http://tempuri.org/RetornaSolicitacaoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="LoginSoap" binding="tns:LoginSoap">
      <soap:address location="http://localhost:63452/Web%20Service/Login.asmx" />
    </wsdl:port>
    <wsdl:port name="LoginSoap12" binding="tns:LoginSoap12">
      <soap12:address location="http://localhost:63452/Web%20Service/Login.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>