Sistema/WindowsFormsApp3/Web References/localhostAmx/Almoxarifado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CadastroProduto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CodigoProduto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Preco" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="UnidadeMedida" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroProdutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroProdutoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroProdutoEstoque">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdProduto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroProdutoEstoqueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroProdutoEstoqueResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Solicitante" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Urgencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Motivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarPedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GerarPedidoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarPedidoItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="UnidadeMedida" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Solicitar" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GerarPedidoItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GerarPedidoItemResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompraDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompraDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompraDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaProduto">
        <s:complexType />
      </s:element>
      <s:element name="RetornaProdutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaProduto" nillable="true" type="tns:ListaProduto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaProduto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PRODUTO" type="tns:Produto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Produto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo_Produto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome_Produto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UM_Produto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Preco_Produto" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaComboTipo">
        <s:complexType />
      </s:element>
      <s:element name="RetornaComboTipoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaComboTipo" nillable="true" type="tns:ListaTipoCombo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaTipoCombo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TIPO" type="tns:TipoCombo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoCombo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaEstoque">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaEstoqueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaEstoque" nillable="true" type="tns:ListaEstoque" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaEstoque">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ESTOQUE" type="tns:Estoque" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Estoque">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoProduto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Preco" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="UM" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CadastroProdutoSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroProduto" />
  </wsdl:message>
  <wsdl:message name="CadastroProdutoSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroProdutoEstoqueSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroProdutoEstoque" />
  </wsdl:message>
  <wsdl:message name="CadastroProdutoEstoqueSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroProdutoEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="GerarPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:GerarPedido" />
  </wsdl:message>
  <wsdl:message name="GerarPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:GerarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="GerarPedidoItemSoapIn">
    <wsdl:part name="parameters" element="tns:GerarPedidoItem" />
  </wsdl:message>
  <wsdl:message name="GerarPedidoItemSoapOut">
    <wsdl:part name="parameters" element="tns:GerarPedidoItemResponse" />
  </wsdl:message>
  <wsdl:message name="CompraDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:CompraDataSet" />
  </wsdl:message>
  <wsdl:message name="CompraDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:CompraDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaProdutoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaProduto" />
  </wsdl:message>
  <wsdl:message name="RetornaProdutoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaComboTipoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaComboTipo" />
  </wsdl:message>
  <wsdl:message name="RetornaComboTipoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaComboTipoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaEstoqueSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaEstoque" />
  </wsdl:message>
  <wsdl:message name="RetornaEstoqueSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaEstoqueResponse" />
  </wsdl:message>
  <wsdl:portType name="AlmoxarifadoSoap">
    <wsdl:operation name="CadastroProduto">
      <wsdl:input message="tns:CadastroProdutoSoapIn" />
      <wsdl:output message="tns:CadastroProdutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroProdutoEstoque">
      <wsdl:input message="tns:CadastroProdutoEstoqueSoapIn" />
      <wsdl:output message="tns:CadastroProdutoEstoqueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GerarPedido">
      <wsdl:input message="tns:GerarPedidoSoapIn" />
      <wsdl:output message="tns:GerarPedidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GerarPedidoItem">
      <wsdl:input message="tns:GerarPedidoItemSoapIn" />
      <wsdl:output message="tns:GerarPedidoItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompraDataSet">
      <wsdl:input message="tns:CompraDataSetSoapIn" />
      <wsdl:output message="tns:CompraDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaProduto">
      <wsdl:input message="tns:RetornaProdutoSoapIn" />
      <wsdl:output message="tns:RetornaProdutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaComboTipo">
      <wsdl:input message="tns:RetornaComboTipoSoapIn" />
      <wsdl:output message="tns:RetornaComboTipoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaEstoque">
      <wsdl:input message="tns:RetornaEstoqueSoapIn" />
      <wsdl:output message="tns:RetornaEstoqueSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlmoxarifadoSoap" type="tns:AlmoxarifadoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastroProduto">
      <soap:operation soapAction="http://tempuri.org/CadastroProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroProdutoEstoque">
      <soap:operation soapAction="http://tempuri.org/CadastroProdutoEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarPedido">
      <soap:operation soapAction="http://tempuri.org/GerarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarPedidoItem">
      <soap:operation soapAction="http://tempuri.org/GerarPedidoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompraDataSet">
      <soap:operation soapAction="http://tempuri.org/CompraDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaProduto">
      <soap:operation soapAction="http://tempuri.org/RetornaProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaComboTipo">
      <soap:operation soapAction="http://tempuri.org/RetornaComboTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaEstoque">
      <soap:operation soapAction="http://tempuri.org/RetornaEstoque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlmoxarifadoSoap12" type="tns:AlmoxarifadoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastroProduto">
      <soap12:operation soapAction="http://tempuri.org/CadastroProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroProdutoEstoque">
      <soap12:operation soapAction="http://tempuri.org/CadastroProdutoEstoque" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarPedido">
      <soap12:operation soapAction="http://tempuri.org/GerarPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GerarPedidoItem">
      <soap12:operation soapAction="http://tempuri.org/GerarPedidoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompraDataSet">
      <soap12:operation soapAction="http://tempuri.org/CompraDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaProduto">
      <soap12:operation soapAction="http://tempuri.org/RetornaProduto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaComboTipo">
      <soap12:operation soapAction="http://tempuri.org/RetornaComboTipo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaEstoque">
      <soap12:operation soapAction="http://tempuri.org/RetornaEstoque" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Almoxarifado">
    <wsdl:port name="AlmoxarifadoSoap" binding="tns:AlmoxarifadoSoap">
      <soap:address location="http://localhost:54048/WebService/Almoxarifado.asmx" />
    </wsdl:port>
    <wsdl:port name="AlmoxarifadoSoap12" binding="tns:AlmoxarifadoSoap12">
      <soap12:address location="http://localhost:54048/WebService/Almoxarifado.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>