Sistema/WindowsFormsApp3/Web References/localhostGrc/Gerencia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Aprovar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AprovarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AprovarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reprovar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReprovarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReprovarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaOrcamento">
        <s:complexType />
      </s:element>
      <s:element name="RetornaOrcamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaOrcamentos" nillable="true" type="tns:ListaOrcamento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaOrcamento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ORCAMENTO" type="tns:Orcamento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Orcamento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Pedido" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataEmissao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Observacoes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vendedor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrazoEntrega" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CondicaoPag" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorTotal" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdItens" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaVendedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdVendedor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaVendedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetornaVendedorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaDadosOrcamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaDadosOrcamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaOrcamentoDados" nillable="true" type="tns:ListaOrcamentoDados" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaOrcamentoDados">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ORCAMENTODADOS" type="tns:OrcamentoDados" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrcamentoDados">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnidadeMedida" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Solicitar" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AprovarSoapIn">
    <wsdl:part name="parameters" element="tns:Aprovar" />
  </wsdl:message>
  <wsdl:message name="AprovarSoapOut">
    <wsdl:part name="parameters" element="tns:AprovarResponse" />
  </wsdl:message>
  <wsdl:message name="ReprovarSoapIn">
    <wsdl:part name="parameters" element="tns:Reprovar" />
  </wsdl:message>
  <wsdl:message name="ReprovarSoapOut">
    <wsdl:part name="parameters" element="tns:ReprovarResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaOrcamentoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaOrcamento" />
  </wsdl:message>
  <wsdl:message name="RetornaOrcamentoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaOrcamentoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaVendedorSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaVendedor" />
  </wsdl:message>
  <wsdl:message name="RetornaVendedorSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaVendedorResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaDadosOrcamentoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaDadosOrcamento" />
  </wsdl:message>
  <wsdl:message name="RetornaDadosOrcamentoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaDadosOrcamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="GerenciaSoap">
    <wsdl:operation name="Aprovar">
      <wsdl:input message="tns:AprovarSoapIn" />
      <wsdl:output message="tns:AprovarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reprovar">
      <wsdl:input message="tns:ReprovarSoapIn" />
      <wsdl:output message="tns:ReprovarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaOrcamento">
      <wsdl:input message="tns:RetornaOrcamentoSoapIn" />
      <wsdl:output message="tns:RetornaOrcamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaVendedor">
      <wsdl:input message="tns:RetornaVendedorSoapIn" />
      <wsdl:output message="tns:RetornaVendedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaDadosOrcamento">
      <wsdl:input message="tns:RetornaDadosOrcamentoSoapIn" />
      <wsdl:output message="tns:RetornaDadosOrcamentoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GerenciaSoap" type="tns:GerenciaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Aprovar">
      <soap:operation soapAction="http://tempuri.org/Aprovar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reprovar">
      <soap:operation soapAction="http://tempuri.org/Reprovar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaOrcamento">
      <soap:operation soapAction="http://tempuri.org/RetornaOrcamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaVendedor">
      <soap:operation soapAction="http://tempuri.org/RetornaVendedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDadosOrcamento">
      <soap:operation soapAction="http://tempuri.org/RetornaDadosOrcamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GerenciaSoap12" type="tns:GerenciaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Aprovar">
      <soap12:operation soapAction="http://tempuri.org/Aprovar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reprovar">
      <soap12:operation soapAction="http://tempuri.org/Reprovar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaOrcamento">
      <soap12:operation soapAction="http://tempuri.org/RetornaOrcamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaVendedor">
      <soap12:operation soapAction="http://tempuri.org/RetornaVendedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaDadosOrcamento">
      <soap12:operation soapAction="http://tempuri.org/RetornaDadosOrcamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Gerencia">
    <wsdl:port name="GerenciaSoap" binding="tns:GerenciaSoap">
      <soap:address location="http://localhost:57612/WebService/Gerencia.asmx" />
    </wsdl:port>
    <wsdl:port name="GerenciaSoap12" binding="tns:GerenciaSoap12">
      <soap12:address location="http://localhost:57612/WebService/Gerencia.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>