Sistema/WindowsFormsApp3/Web References/localhostAdm/Admin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CadastroUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Funcao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DataCriacao" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroUsuarioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroPermissoesUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroPermissoesUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroPermissoesUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaUsuario">
        <s:complexType />
      </s:element>
      <s:element name="RetornaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaUsuario" nillable="true" type="tns:ListaUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="USUARIO" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Funcao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataCriacao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaComboNome">
        <s:complexType />
      </s:element>
      <s:element name="RetornaComboNomeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaComboNome" nillable="true" type="tns:ListaNomeCombo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaNomeCombo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NOME" type="tns:NomeCombo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NomeCombo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="VerificarPermissao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarPermissaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarPermissaoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizaPermissoesAdiciona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizaPermissoesAdicionaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AtualizaPermissoesAdicionaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizaPermissoesRemove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizaPermissoesRemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AtualizaPermissoesRemoveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CadastroUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroUsuario" />
  </wsdl:message>
  <wsdl:message name="CadastroUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroPermissoesUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroPermissoesUsuario" />
  </wsdl:message>
  <wsdl:message name="CadastroPermissoesUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroPermissoesUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaUsuario" />
  </wsdl:message>
  <wsdl:message name="RetornaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaComboNomeSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaComboNome" />
  </wsdl:message>
  <wsdl:message name="RetornaComboNomeSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaComboNomeResponse" />
  </wsdl:message>
  <wsdl:message name="VerificarPermissaoSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarPermissao" />
  </wsdl:message>
  <wsdl:message name="VerificarPermissaoSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarPermissaoResponse" />
  </wsdl:message>
  <wsdl:message name="AtualizaPermissoesAdicionaSoapIn">
    <wsdl:part name="parameters" element="tns:AtualizaPermissoesAdiciona" />
  </wsdl:message>
  <wsdl:message name="AtualizaPermissoesAdicionaSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizaPermissoesAdicionaResponse" />
  </wsdl:message>
  <wsdl:message name="AtualizaPermissoesRemoveSoapIn">
    <wsdl:part name="parameters" element="tns:AtualizaPermissoesRemove" />
  </wsdl:message>
  <wsdl:message name="AtualizaPermissoesRemoveSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizaPermissoesRemoveResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminSoap">
    <wsdl:operation name="CadastroUsuario">
      <wsdl:input message="tns:CadastroUsuarioSoapIn" />
      <wsdl:output message="tns:CadastroUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroPermissoesUsuario">
      <wsdl:input message="tns:CadastroPermissoesUsuarioSoapIn" />
      <wsdl:output message="tns:CadastroPermissoesUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaUsuario">
      <wsdl:input message="tns:RetornaUsuarioSoapIn" />
      <wsdl:output message="tns:RetornaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaComboNome">
      <wsdl:input message="tns:RetornaComboNomeSoapIn" />
      <wsdl:output message="tns:RetornaComboNomeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarPermissao">
      <wsdl:input message="tns:VerificarPermissaoSoapIn" />
      <wsdl:output message="tns:VerificarPermissaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AtualizaPermissoesAdiciona">
      <wsdl:input message="tns:AtualizaPermissoesAdicionaSoapIn" />
      <wsdl:output message="tns:AtualizaPermissoesAdicionaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AtualizaPermissoesRemove">
      <wsdl:input message="tns:AtualizaPermissoesRemoveSoapIn" />
      <wsdl:output message="tns:AtualizaPermissoesRemoveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminSoap" type="tns:AdminSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastroUsuario">
      <soap:operation soapAction="http://tempuri.org/CadastroUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroPermissoesUsuario">
      <soap:operation soapAction="http://tempuri.org/CadastroPermissoesUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaUsuario">
      <soap:operation soapAction="http://tempuri.org/RetornaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaComboNome">
      <soap:operation soapAction="http://tempuri.org/RetornaComboNome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarPermissao">
      <soap:operation soapAction="http://tempuri.org/VerificarPermissao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizaPermissoesAdiciona">
      <soap:operation soapAction="http://tempuri.org/AtualizaPermissoesAdiciona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizaPermissoesRemove">
      <soap:operation soapAction="http://tempuri.org/AtualizaPermissoesRemove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminSoap12" type="tns:AdminSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastroUsuario">
      <soap12:operation soapAction="http://tempuri.org/CadastroUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroPermissoesUsuario">
      <soap12:operation soapAction="http://tempuri.org/CadastroPermissoesUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaUsuario">
      <soap12:operation soapAction="http://tempuri.org/RetornaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaComboNome">
      <soap12:operation soapAction="http://tempuri.org/RetornaComboNome" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarPermissao">
      <soap12:operation soapAction="http://tempuri.org/VerificarPermissao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizaPermissoesAdiciona">
      <soap12:operation soapAction="http://tempuri.org/AtualizaPermissoesAdiciona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizaPermissoesRemove">
      <soap12:operation soapAction="http://tempuri.org/AtualizaPermissoesRemove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Admin">
    <wsdl:port name="AdminSoap" binding="tns:AdminSoap">
      <soap:address location="http://localhost:57423/WebServer/Admin.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminSoap12" binding="tns:AdminSoap12">
      <soap12:address location="http://localhost:57423/WebServer/Admin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>