Sistema/WindowsFormsApp3/Web References/localhostCmp/Compras.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GravarOrcamento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataEmissao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Observacoes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Vendedor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PrazoEntrega" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CondicaoPag" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ValorAdicional" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="QtdItens" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravarOrcamentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GravarOrcamentoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroFornecedor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Endereco" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Complemento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Complemento2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Numero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefone2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CadastroFornecedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadastroFornecedorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Arquivar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArquivarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ArquivarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Atualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AtualizarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizarGerar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizarGerarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AtualizarGerarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrcamentoDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrcamentoDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrcamentoDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompraCompletaDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompraCompletaDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompraCompletaDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornarSolicitacao">
        <s:complexType />
      </s:element>
      <s:element name="RetornarSolicitacaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaSolicitacao" nillable="true" type="tns:ListaSolicitacao" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaSolicitacao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SOLICITACAO" type="tns:Solicitacao" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Solicitacao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Solicitante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Urgencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Motivo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataCriacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaSolicitacaoItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetornaSolicitacaoItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaSolicitacaoItem" nillable="true" type="tns:ListaSolicitacaoItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaSolicitacaoItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ITEMSOLICITACAO" type="tns:SolicitacaoItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SolicitacaoItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnidadeMedida" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdEstoque" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdMinima" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QtdMaxima" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Solicitar" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaSolicitacaoDeCompra">
        <s:complexType />
      </s:element>
      <s:element name="RetornaSolicitacaoDeCompraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaSolicitacoes" nillable="true" type="tns:ListaSolicitacoes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaSolicitacoes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SOLICITACOES" type="tns:Solicitacoes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Solicitacoes">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Solicitante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Urgencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataCriacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaFornecedor">
        <s:complexType />
      </s:element>
      <s:element name="RetornaFornecedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaFornecedor" nillable="true" type="tns:ListaFornecedor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaFornecedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FORNECEDOR" type="tns:Fornecedor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Fornecedor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CEP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetornaComboFornecedor">
        <s:complexType />
      </s:element>
      <s:element name="RetornaComboFornecedorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscaComboFornecedor" nillable="true" type="tns:ListaFornecedorCombo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ListaFornecedorCombo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FORNECEDOR" type="tns:FornecedorCombo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FornecedorCombo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GravarOrcamentoSoapIn">
    <wsdl:part name="parameters" element="tns:GravarOrcamento" />
  </wsdl:message>
  <wsdl:message name="GravarOrcamentoSoapOut">
    <wsdl:part name="parameters" element="tns:GravarOrcamentoResponse" />
  </wsdl:message>
  <wsdl:message name="CadastroFornecedorSoapIn">
    <wsdl:part name="parameters" element="tns:CadastroFornecedor" />
  </wsdl:message>
  <wsdl:message name="CadastroFornecedorSoapOut">
    <wsdl:part name="parameters" element="tns:CadastroFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="ArquivarSoapIn">
    <wsdl:part name="parameters" element="tns:Arquivar" />
  </wsdl:message>
  <wsdl:message name="ArquivarSoapOut">
    <wsdl:part name="parameters" element="tns:ArquivarResponse" />
  </wsdl:message>
  <wsdl:message name="AtualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Atualizar" />
  </wsdl:message>
  <wsdl:message name="AtualizarSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizarResponse" />
  </wsdl:message>
  <wsdl:message name="AtualizarGerarSoapIn">
    <wsdl:part name="parameters" element="tns:AtualizarGerar" />
  </wsdl:message>
  <wsdl:message name="AtualizarGerarSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizarGerarResponse" />
  </wsdl:message>
  <wsdl:message name="OrcamentoDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:OrcamentoDataSet" />
  </wsdl:message>
  <wsdl:message name="OrcamentoDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:OrcamentoDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="CompraCompletaDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:CompraCompletaDataSet" />
  </wsdl:message>
  <wsdl:message name="CompraCompletaDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:CompraCompletaDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="RetornarSolicitacaoSoapIn">
    <wsdl:part name="parameters" element="tns:RetornarSolicitacao" />
  </wsdl:message>
  <wsdl:message name="RetornarSolicitacaoSoapOut">
    <wsdl:part name="parameters" element="tns:RetornarSolicitacaoResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaSolicitacaoItemSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaSolicitacaoItem" />
  </wsdl:message>
  <wsdl:message name="RetornaSolicitacaoItemSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaSolicitacaoItemResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaSolicitacaoDeCompraSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaSolicitacaoDeCompra" />
  </wsdl:message>
  <wsdl:message name="RetornaSolicitacaoDeCompraSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaSolicitacaoDeCompraResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaFornecedorSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaFornecedor" />
  </wsdl:message>
  <wsdl:message name="RetornaFornecedorSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="RetornaComboFornecedorSoapIn">
    <wsdl:part name="parameters" element="tns:RetornaComboFornecedor" />
  </wsdl:message>
  <wsdl:message name="RetornaComboFornecedorSoapOut">
    <wsdl:part name="parameters" element="tns:RetornaComboFornecedorResponse" />
  </wsdl:message>
  <wsdl:portType name="ComprasSoap">
    <wsdl:operation name="GravarOrcamento">
      <wsdl:input message="tns:GravarOrcamentoSoapIn" />
      <wsdl:output message="tns:GravarOrcamentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CadastroFornecedor">
      <wsdl:input message="tns:CadastroFornecedorSoapIn" />
      <wsdl:output message="tns:CadastroFornecedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Arquivar">
      <wsdl:input message="tns:ArquivarSoapIn" />
      <wsdl:output message="tns:ArquivarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Atualizar">
      <wsdl:input message="tns:AtualizarSoapIn" />
      <wsdl:output message="tns:AtualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarGerar">
      <wsdl:input message="tns:AtualizarGerarSoapIn" />
      <wsdl:output message="tns:AtualizarGerarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrcamentoDataSet">
      <wsdl:input message="tns:OrcamentoDataSetSoapIn" />
      <wsdl:output message="tns:OrcamentoDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompraCompletaDataSet">
      <wsdl:input message="tns:CompraCompletaDataSetSoapIn" />
      <wsdl:output message="tns:CompraCompletaDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornarSolicitacao">
      <wsdl:input message="tns:RetornarSolicitacaoSoapIn" />
      <wsdl:output message="tns:RetornarSolicitacaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaSolicitacaoItem">
      <wsdl:input message="tns:RetornaSolicitacaoItemSoapIn" />
      <wsdl:output message="tns:RetornaSolicitacaoItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaSolicitacaoDeCompra">
      <wsdl:input message="tns:RetornaSolicitacaoDeCompraSoapIn" />
      <wsdl:output message="tns:RetornaSolicitacaoDeCompraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaFornecedor">
      <wsdl:input message="tns:RetornaFornecedorSoapIn" />
      <wsdl:output message="tns:RetornaFornecedorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetornaComboFornecedor">
      <wsdl:input message="tns:RetornaComboFornecedorSoapIn" />
      <wsdl:output message="tns:RetornaComboFornecedorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ComprasSoap" type="tns:ComprasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GravarOrcamento">
      <soap:operation soapAction="http://tempuri.org/GravarOrcamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroFornecedor">
      <soap:operation soapAction="http://tempuri.org/CadastroFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Arquivar">
      <soap:operation soapAction="http://tempuri.org/Arquivar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Atualizar">
      <soap:operation soapAction="http://tempuri.org/Atualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarGerar">
      <soap:operation soapAction="http://tempuri.org/AtualizarGerar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrcamentoDataSet">
      <soap:operation soapAction="http://tempuri.org/OrcamentoDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompraCompletaDataSet">
      <soap:operation soapAction="http://tempuri.org/CompraCompletaDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarSolicitacao">
      <soap:operation soapAction="http://tempuri.org/RetornarSolicitacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaSolicitacaoItem">
      <soap:operation soapAction="http://tempuri.org/RetornaSolicitacaoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaSolicitacaoDeCompra">
      <soap:operation soapAction="http://tempuri.org/RetornaSolicitacaoDeCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaFornecedor">
      <soap:operation soapAction="http://tempuri.org/RetornaFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaComboFornecedor">
      <soap:operation soapAction="http://tempuri.org/RetornaComboFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ComprasSoap12" type="tns:ComprasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GravarOrcamento">
      <soap12:operation soapAction="http://tempuri.org/GravarOrcamento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastroFornecedor">
      <soap12:operation soapAction="http://tempuri.org/CadastroFornecedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Arquivar">
      <soap12:operation soapAction="http://tempuri.org/Arquivar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Atualizar">
      <soap12:operation soapAction="http://tempuri.org/Atualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarGerar">
      <soap12:operation soapAction="http://tempuri.org/AtualizarGerar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrcamentoDataSet">
      <soap12:operation soapAction="http://tempuri.org/OrcamentoDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompraCompletaDataSet">
      <soap12:operation soapAction="http://tempuri.org/CompraCompletaDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornarSolicitacao">
      <soap12:operation soapAction="http://tempuri.org/RetornarSolicitacao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaSolicitacaoItem">
      <soap12:operation soapAction="http://tempuri.org/RetornaSolicitacaoItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaSolicitacaoDeCompra">
      <soap12:operation soapAction="http://tempuri.org/RetornaSolicitacaoDeCompra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaFornecedor">
      <soap12:operation soapAction="http://tempuri.org/RetornaFornecedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetornaComboFornecedor">
      <soap12:operation soapAction="http://tempuri.org/RetornaComboFornecedor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Compras">
    <wsdl:port name="ComprasSoap" binding="tns:ComprasSoap">
      <soap:address location="http://localhost:53551/WebService/Compras.asmx" />
    </wsdl:port>
    <wsdl:port name="ComprasSoap12" binding="tns:ComprasSoap12">
      <soap12:address location="http://localhost:53551/WebService/Compras.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>